body {

background:#06142e;

color:white;

font-family:Arial, sans-serif;

text-align:center;

}


h1 {

font-size:42px;

}



#teams {


width:80%;

margin:auto;

display:flex;

flex-direction:column;

gap:10px;


}



.team {


background:#102957;

padding:15px;

border-radius:12px;

cursor:grab;

font-size:18px;


}



.team:hover {


background:#1d4385;


}



button {


background:#ffd700;

border:none;

padding:15px 25px;

margin:15px;

font-size:18px;

border-radius:10px;

cursor:pointer;


}



button:hover {

transform:scale(1.05);

}



#bracket {


display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

}



.match {


background:#102957;

padding:20px;

border-radius:15px;

width:220px;


}



.match button {


background:#1455d9;

color:white;

width:180px;

margin:5px;


}



.match button:hover {


background:#ffd700;

color:black;


}



.champion {


background:#ffd700;

color:black;

padding:30px;

border-radius:20px;

margin:30px;

font-size:25px;


}
