body{

background:#061633;
color:white;
font-family:Arial;
text-align:center;

}


h1{

font-size:40px;

}


#teams{

width:400px;
margin:auto;

}


.team{

background:#123265;
padding:12px;
margin:6px;
border-radius:10px;
cursor:pointer;

}



button{

background:#ffd700;
border:0;
padding:12px 20px;
margin:15px;
border-radius:8px;
cursor:pointer;
font-size:16px;

}



#bracket{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;

}



.match{

background:#123265;
padding:20px;
border-radius:12px;
width:220px;

}



.match button{

background:#1765db;
color:white;
width:180px;

}



.winner{

background:#00aa55;
padding:15px;
border-radius:10px;

}
